 <div class="box">
                <div class="center">
                    <p class="lead"><%=@brand.brand_desc.html_safe%></p>
                </div>
                <div class="gap"></div>
<%=@brand_page.new_body.html_safe if @brand_page%>