<div class="row columns">
	<nav aria-label="You are here:" role="navigation">
		<ul class="breadcrumbs">
			<li><a href="/">首页</a></li>
			<li><%=link_to '会员中心',member_path%></li>
			<li><span class="show-for-sr">品名: </span> <%=current %></li>
		</ul>
	</nav>
</div>