<% provide :title, '昌麒生态园-提现管理' %>
<%=render partial: 'breadcrembs' , locals:{current:'提现记录'}%>

  <h1>累积提现</h1>
  <span class="alert label"><i class="fi-x-circle"></i> Alert Label</span>
  <span class="alert label"><i class="fi-x-circle"></i> Alert Label</span>
  <span class="alert label"><i class="fi-x-circle"></i> Alert Label</span>
  <span class="alert label"><i class="fi-x-circle"></i> Alert Label</span>

  <div class='row'>
    <div class='columns small-6'>
      <dt>本周提现</dt>
      <dl>$0.00</dl>
    </div>
     <div class='columns small-6'>
      <dt><%=link_to '当前可用提现', tradings_cards_path ,class:'button'%></dt>
      <dl>$0.00</dl>
    </div>
    <div class='columns small-6'>
    </div>
  </div>
  <h1><%=link_to '申请提现', withdrawl_cards_path ,class:'button'%></h1>
  <h1><%=link_to "提现记录",rebate_logs_cards_path ,class:'button'%></h1>

</table>