<% provide :title, '昌麒生态园-会员卡信息' %>
<%if session[:card_pwd].blank?%>
	<%=render :partial=>"login"%>
<%else%>
	<div class="row">
		<div class="medium-5 large-3 columns">
			卡内余额：<%=@card_info.member_advance%><br>
			最后查询时间：<%=l Time.at(@card_info.mtime)%>
		</div>
	</div>
<%end%>
