    
     <section id="pricing">
        <div class="container">
            <div class="box">
                <div class="center">
                     <h2>专家顾问</h2>
                    <p class="lead">基因解码及医学营养专家 --- 董烨</p>
                </div>
                <div class="gap"></div>
                <div id="pricing-table" class="row">
                    <div class="col-sm-3">
                        <ul class="plan">
                            <li><img src="/images/a01/homepage/specialist_dongye.jpg" style="width:100%"></li>
                        </ul>
                    </div>
                        <ul class="plan"> 
                            <li class="plan-price">现任国家人类基因组南方研究中心申友基因事业部 副主任<br/>杭州保亨生物科技有限公司 专家顾问</li>
                            <li class="plan-name">最高学历：上海第二医科大学 临床医学硕士 （1970年生辰）</li>
                            <li>专业特长：在糖尿病、肥胖、心脑血管疾病等领域，创新性地将一系列“预警性临床指标”引入到健康管理领域，提出了“精细化健康管理”的创新理念，并形成了以基因解码为依据的个性化慢病风险管理体系。</li>
                            <li>基因解码及医学营养专家。具有医学硕士学历、上海三甲医院多年临床工作经验、10年健康管理经历、5年基因解码及个性化营养调治经验；</li>
                            <li>受邀加入了国家级基因平台——国家人类基因组南方研究中心申友生物“肿瘤生长发展基因解码项目”研发专家组，任申友事业部副主任，全程参与研发了中国第一个覆盖肿瘤生长发展全阶段的权威基因解码套餐，为国人个性化肿瘤预防提供了根本依据。</li>
                           
                        </ul>
                    </div>
                    
                </div> 
            </div> 
        </div>
    </section><!--/#pricing-->   

       <section id="services">
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-apple icon-md icon-color1"></i>
                            <h4>糖友：@张亮根</h4>
                            <p>餐后两小时后，神奇的事情发生了。血糖的指标纷纷得到了有效控制。而控制血糖上升的最大功臣是：清泓佐餐茶，一种让血糖偏高人群均衡营养的专用茶。</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-android icon-md icon-color2"></i>
                             <h4>糖友：@张亮根</h4>
                            <p>餐后两小时后，神奇的事情发生了。血糖的指标纷纷得到了有效控制。而控制血糖上升的最大功臣是：清泓佐餐茶，一种让血糖偏高人群均衡营养的专用茶。</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-windows icon-md icon-color3"></i>
                             <h4>糖友：@张亮根</h4>
                            <p>餐后两小时后，神奇的事情发生了。血糖的指标纷纷得到了有效控制。而控制血糖上升的最大功臣是：清泓佐餐茶，一种让血糖偏高人群均衡营养的专用茶。</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-html5 icon-md icon-color4"></i>
                             <h4>糖友：@张亮根</h4>
                            <p>餐后两小时后，神奇的事情发生了。血糖的指标纷纷得到了有效控制。而控制血糖上升的最大功臣是：清泓佐餐茶，一种让血糖偏高人群均衡营养的专用茶。</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-css3 icon-md icon-color5"></i>
                             <h4>糖友：@张亮根</h4>
                            <p>餐后两小时后，神奇的事情发生了。血糖的指标纷纷得到了有效控制。而控制血糖上升的最大功臣是：清泓佐餐茶，一种让血糖偏高人群均衡营养的专用茶。</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-thumbs-up icon-md icon-color6"></i>
                             <h4>糖友：@张亮根</h4>
                            <p>餐后两小时后，神奇的事情发生了。血糖的指标纷纷得到了有效控制。而控制血糖上升的最大功臣是：清泓佐餐茶，一种让血糖偏高人群均衡营养的专用茶。</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <div class="columns small-12">
                        <h1>案例分享</h1>
                        <p>请与糖友分享您服用昌麒投资茶后的案例！</p>
                        <div class="status alert alert-success" style="display: none"></div>
                        <%=form_for :case,:class=>"contact-form",:html=>{:role=>"form",:remote=>true,data: {type: "script"}} do |f|%>
                        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">                           
                             <div class="row">
                                <div class="columns small-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="基本病史"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns small-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="服茶效果"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="button button-success button-lg">分 享</button>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    </div><!--/.columns small-12-->                   
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->