<%=render "shared/metable", :resource => @page %>
<section id="products" class="pricing">
    <div class="container">
    	<br><br>
        <div class="box">
           
            <%=@page.body.html_safe%>
        </div>
		
	</div>