<script>

function isWeixinBrowser(){
    var ua = navigator.userAgent.toLowerCase();
    return (/micromessenger/.test(ua)) ? true : false ;
}


<% return_url={:return_url => request.url.sub('?from=weixin_menu','').force_encoding('UTF-8')}.to_query%>
var iswxb= isWeixinBrowser();
 if ('<%=@user.nil?%>'==='true' && iswxb ){
        location.href = "/auto_login?id=1&<%=return_url%>";
 }

</script>
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>昌麒投资</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">导航切换</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="outlink active"><a href="/home#main-slider"><i class="icon-home"></i></a></li>
                        <li class="outlink"><a href="/gallery/5">产品中心</a></li>
                        <li class="outlink"><a href="/brands">基地风光</a></li>
                        <li class="outlink"><a href="/pages/aboutus">关于我们</a></li>                      
                        <li class="outlink"><a href="/contactus">联系我们</a></li>    
                        <li class="outlink"><a href="/member">会员中心</a></li>
                        <li class="outlink menu-login" style="display:none">
                            <%if @user%>
                            <a href="/logout">退出登录</a>
                            <%else%>
                            <a href="/login">注册/登录</a>
                            <%end%>
                    </ul>
                </div>
            </div>
        </div>
    </header><!--/#header-->
    <%= yield%>
    
    <%= render "/shared/footer" %>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>